form{
    text-align: center;
    padding-top:5vw;
}

filter{
    font-weight: bold;
    font-size: 22px;
    padding-right: 10px;
}
filterby{
    text-decoration: underline;
    font-weight:normal;
    font-size: medium;
}

.filter-container{
    display: inline;
    padding-top: 10vw;
    width: 20vw;
    padding-left: 3vw;
}

.list-container{
    display: inline;
    padding-top: 10vw;
    width: 80vw;
}
.page-container{
    display: flex;
    width: 100%;
}
h1{
    color: #3168b0;
}
div{
    padding: 1vw;
}
